h1 {
    text-align: center;
}

body {
    width: max-content;
    width: 300px;
    height: 300px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: red;
    color: whitesmoke;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: 10px;
    font-size: large;
    margin-right: 10px;
    display: inline-block;
    border-color: pink;
}

#refresh-btn {
    color: red;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: 3px;
    font-size: large;
    margin-right: 10px; /* Add margin-right to create space between the buttons */
    display: inline-block;
    border-color: pink;
  }
  
#copy-btn {
    color: red;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: 3px;
    font-size: large;
    display: inline-block;
    border-color: pink;
  }
  

.material-icons {
    font-family: "Material Icons";
    font-size: 24px;
    color: pink;
    cursor: pointer;
}

p {
    font-size: medium;
}


